@mixin font-face($font-family, $font-src, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin smooth-icon-for-element() {
  background-image: linear-gradient($text-second-color 45%, $text-color 60%);
  background-position-y: 100%;
  background-size: 100% 250%;
  transition: background-position-y $time ease-in;
}

@mixin smooth-icon-for-states() {
  background-position-y: 0;
}
