$font-primary: "Gilroy", "Arial", sans-serif;
$font-second: "Chronicle Display", "Arial", sans-serif;

//текст
$text-color: #ffffff;
$text-second-color:#fbd784;

//фоны
$bg-basic-color:#0b1d26;

//переменные для плавных переходов
$time: 0.5s;
$time-fast: 0.2s;
