.aside-contacts {
  width: fit-content;
  max-width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 26px;
  position: sticky;
  top: 360px;
  z-index: 20;
}

.aside-contacts__title {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  writing-mode: vertical-rl;
}

.aside-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.aside-contacts__icon {
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-color: $text-color;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
    transition: background-color $time;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: $text-second-color;
  }

  &:active::before {
    background-color: $text-second-color;
  }
}

.aside-contacts__icon--insta {
  mask-image: url("../../icons/stack.svg#instagram");
}

.aside-contacts__icon--twitter {
  mask-image: url("../../icons/stack.svg#twitter");
}
