.container {
  width: $page-width;
  margin: 0 auto;
  padding: 0;
  box-shadow: 28px 28px 80px 0 rgba($bg-basic-color, 0.4);
}

.container__element {
  padding: 0 $page-padding-inline;
}

.container--index {
  position: relative;
}
