.guide {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 200px;
  counter-reset: marker 0;
}

.guide__item {
  width: 1460px;
  min-height: 720px;
  margin: 0 auto;
  position: relative;

}

.guide__number {
  counter-increment: marker 1;
  position: relative;

  &::before {
    content: "0" counter(marker);
    position: absolute;
    top: 40px;
    left: 0;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 240px;
    line-height: 1em;
    color: $text-color;
    opacity: 0.1;

    .guide__item:nth-child(n+9) & {
      content: counter(marker);
    }
  }
}
