.header {
  padding-top: 38px;
}

.header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  gap: 20px;
}

.header__menu-item {
  display: block;
  margin: 0;
  padding: 10px;
  color: $text-color;
  font-family: $font-primary;
}

.header__menu-item--logo {
  margin-right: auto;
}

.header__menu-link {
  color: $text-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__menu-item--account {
  margin-left: auto;
}

.header__menu-link--account {
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../icons/stack.svg#account");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
}
