.header {
  padding-top: 50px;
}

.header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  gap: 20px;
}

.header__menu-item {
  display: block;
  margin: 0;
  color: $text-color;
  font-family: $font-primary;
}

.header__menu-link {
  padding: 10px;
}

.header__menu-item--logo {
  margin-right: auto;
}

.header__menu-item--account {
  margin-left: auto;
}
