.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1200px;
  background-image: linear-gradient($bg-basic-color, transparent);
  z-index: 3;
}

.hero__image {
  position: absolute;
  left: 0;
}

.hero__image--first {
  top: 0;
}

.hero__image--second {
  bottom: 0;
}

.hero__image--third {
  bottom: 0;
}

.hero__image--last {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent, $bg-basic-color 350px 700px);
}

.hero__text {
  width: 950px;
  display: block;
}

.hero__slogan {
  margin: 0;
  font-family: $font-second;
  font-size: 88px;
  font-weight: 600;
  line-height: 1.1em;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero__subtitle {
  margin-bottom: 32px;
}

@keyframes arrow-down-scrolling {
  0% {
    transform: translateY(0);
    transform-origin: top;
  }

  50% {
    transform: translateY(5px);
    transform-origin: top;
  }

  100% {
    transform: translateY(0);
    transform-origin: top;
  }
}

.hero__button {
  color: $text-color;
  font-weight: 700;
  font-family: $font-primary;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;


  &::after {
    @include smooth-icon-for-element();

    display: block;
    content: "";
    width: 20px;
    height: 22px;
    background-color: $text-color;
    mask-image: url("../../icons/stack.svg#arrow-down");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 16px 24px;
    animation: arrow-down-scrolling 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.42, 0, 1, 0.5, 1);
    animation-play-state: running;
  }

  &:hover::after,
  &:focus-visible::after,
  &:active::after {
    @include smooth-icon-for-states();
    animation-play-state: paused;
  }
}

.hero__wrapper {
  display: flex;
  justify-content: center;
}
