.hero-bg {
  // width: 100%;
  // height: calc(100vh + 410px);
  // min-height: 1900px;
  // max-height: 2200px;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: -1;


  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1200px;
    background-image: linear-gradient($bg-basic-color, transparent);
    z-index: 2;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 700px;
    background-image: linear-gradient(transparent 0, $bg-basic-color 70%);
    z-index: 6;
  }
}

.hero-bg__image {
  position: absolute;
  left: 0;
  // inset: 0;
}

.hero-bg__image--first {
  top: 0;
}

.hero-bg__image--second {
  bottom: 13px;
}

.hero-bg__image--third {
  bottom: 0;
}

//для паралакса важна высота 100% и прокрутка

.parallax {
  height: 100vh;

  overflow: hidden auto;
  perspective: 300px;
}

.parallax__group {
  // position: relative;
  // height: 100vh;
  height: calc(100vh + 410px);
  min-height: 1900px;
  max-height: 2200px;
  width: 100%;
  transform-style: preserve-3d;
  position: absolute;
  inset: 0;
}

.parallax-layer {
  position: absolute;
  inset: 0;
  transform-origin: top;
}

.parallax-layer1 {
  transform: translateZ(-10rem) translateY(-40rem) scale(1.54);
  z-index: 1;
}

.parallax-layer2 {
  transform: translateZ(-5rem) translateY(-10rem) scale(1.27);
  z-index: 2;
}

.parallax-layer3 {
  transform: translateZ(0) scale(1);
  z-index: 3;
}

.parallax-layer4 {
  transform: translateZ(0) translateY(0) translateX(0) scale(1);
  // transform: translateZ(3rem) translateY(19rem) translateX(2rem) scale(0.9);
  z-index: 4;
}

/*
.parallax-image1 {
  transform: translateZ(0) scale(1);
}

.parallax-image2 {
  transform: translateZ(-1px) scale(2);
}

.parallax-image3 {
  transform: translateZ(-2px) scale(3);
}
*/
