
.hero-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 26px;
}

.hero-contacts__title {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  writing-mode: vertical-rl;
}

.hero-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.hero-contacts__icon {
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transition: background-color $time;
  }
}

.hero-contacts__icon--insta {
  background-image: url("../../icons/stack.svg#instagram");
}

.hero-contacts__icon--twitter {
  background-image: url("../../icons/stack.svg#twitter");
}
