.hero {
  padding-top: 175px;
  min-height: 1270px;
  max-height: 1900px;
  height: 100vh;
  padding-bottom: 50px;
}

.hero__text {
  width: 950px;
  display: block;
}

.hero__slogan {
  margin: 0;
  font-family: $font-second;
  font-size: 88px;
  font-weight: 600;
  line-height: 1.1em;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero__subtitle {
  margin-bottom: 32px;
}

.hero__button {
  color: $text-color;
  font-weight: 700;
  font-family: $font-primary;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;

  &::after {
    display: block;
    content: "";
    width: 20px;
    height: 22px;
    background-color: $text-color;
    mask-image: url("../../icons/stack.svg#arrow-down");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 16px 24px;
    transition: background-color $time;
  }

  &:hover::after,
  &:focus-visible::after,
  &:active::after {
    background-color: $text-second-color;
  }
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 120px auto 100px;
  justify-content: space-between;
  align-items: center;
}
