.page__body {
  font-family: $font-primary;
  font-size: 18px;
  line-height: 1.8;
  color: #ffffff;
  background-color: #0b1d26;
}

.page__nav {
  box-sizing: border-box;
}

.page__nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.page__nav-link {
  text-decoration: none;
  text-align: right;
  color: $text-color;
  font-size: 18px;
  font-weight: 700;
  font-family: $font-primary;

  display: block;
  padding: 20px 32px;
}

.page__nav-item {
  border-right: 2px solid rgba($text-color, 0.5);
  /*todo*/
}

.page__nav-item--active {
  border-right: 2px solid $text-color;
}